header{
              color: red;
              font-family: Impact;
            }
            body{
                text-align: center;
                color: black;
                 padding: 5px;
                 font-size: 18px;
            }
            button{
                text-align: center;
                color: white;
                background-color: rgb(15, 211, 32);
                 padding: 5px;
                 font-size: 18px;
                 font-family: Impact;
            }
