form{
    text-align: center;
}
body{
    background: #f2f2f2;
    font-family: Arial;
}
.comentarios{
    margin: 20px 0;
}
.form_comentarios textarea{
    max-height: 300px;
    min-height: 84px;
    height: 84px;
    max-width: 70%;
    min-width: 50%;
    width: 70%;
    padding: 10px;
    font-family: Arial;
    line-height: 30px;
    border: 1px solid #4b65d1;
    margin-bottom: 20px;
}
.form_comentarios button{
    background: #4b65d1;
    font-family: Arial;
    color: #E1EBED;
    border-radius: 0;
    margin-bottom: 20px;
}
.form_comentarios button :hover{
    box-shadow: 0px 0px 9px rgb(0, 0, 0, .35);
}
.P{
    text-align: right;
    padding-right: 20%;
}
.button{
    text-align: right;
    padding-right: 20%;
}
